{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>소개</h1>
            <span class="subheading">부제목</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        내 소개
      </div>
    </div>
  </div>
{% endblock content %}